@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductsByCategory
@{
    ViewBag.Title = Model.CategoryMetaTitle ?? Model.CategoryName;
}

@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.CategoryMetaKeywords" />
    <meta name="description" content="@Model.CategoryMetaDescription" />
}

@section head {
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css" />
}

<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
    <div class="container">
        <ol class="u-list-inline">
            <li class="list-inline-item g-mr-5">
                <a href="~/">Trang chủ</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>
            @if (Model.ParentCategorId.HasValue)
            {
                @await Component.InvokeAsync("CategoryBreadcrumb", new { categoryId = Model.ParentCategorId.Value })
            }
            <li class="list-inline-item g-color-primary">
                @Model.CategoryName
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
        </li>
    </ol>
</div>
</section>
    <!-- Products -->
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-9 order-md-2">
                <div class="g-pl-15--lg">
                    <!-- Filters Show -->
                    <div class="d-flex justify-content-end align-items-center g-brd-bottom g-brd-gray-light-v4 g-pt-40 g-pb-20">
                        <!-- Show -->
                        @*<div class="g-mr-60">
                            <ul class="list-inline clear-both product-list-display-options">
                                <li class="pagination-option">
                                    <label>Show :</label>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            20 <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">50</a></li>
                                            <li><a href="#">30</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>*@
                        <!-- End Show -->
                        <!-- Sort By -->
                        <div class="g-mr-60">
                            <h2 class="h6 align-middle d-inline-block g-font-weight-400 text-uppercase g-pos-rel g-top-1 mb-0">Sắp xếp:</h2>

                            <!-- Secondary Button -->
                            <div class="d-inline-block btn-group g-line-height-1_2">
                                @*<button value="@Model.AvailableSortOptions" type="button" class="btn btn-secondary dropdown-toggle h6 align-middle g-brd-none g-color-gray-dark-v5 g-color-black--hover g-bg-transparent text-uppercase g-font-weight-300 g-font-size-12 g-pa-0 g-pl-10 g-ma-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                    @Model.CurrentSearchOption.Sort
                                </button>
                                <div class="dropdown-menu rounded-0">
                                    <a class="dropdown-item g-color-gray-dark-v4 g-font-weight-300" value="@Model.AvailableSortOptions"></a>
                                </div>*@
                                <ul class="list-inline clear-both product-list-display-options">
                                    <li class="sort-by">
                                        
                                        <div class="btn-group">
                                            <select asp-for="CurrentSearchOption.Sort" asp-items="Model.AvailableSortOptions" class="form-control"></select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Secondary Button -->
                        </div>
                        <!-- End Sort By -->
                        <!-- Sort By -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v3 g-brd-black--hover g-color-gray-dark-v5 g-color-black--hover" href="page-list-filter-left-sidebar-1.html">
                                    <i class="icon-list"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-primary g-color-primary" href="page-grid-filter-left-sidebar-1.html">
                                    <i class="icon-grid"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Sort By -->
                    </div>
                    <!-- End Filters Show-->
                    <!-- Products -->
                    <div class="row g-pt-30 g-mb-50">
                        @foreach (var product in Model.Products)
                        {
                            <partial name="_ProductThumbnailGrid" model="product" />
                        }
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <cs-pager cs-paging-pagesize="@Model.CurrentSearchOption.PageSize"
                                          cs-paging-pagenumber="@Model.CurrentSearchOption.Page"
                                          cs-paging-totalitems="@Model.TotalProduct"
                                          cs-pagenumber-param="page"
                                          asp-basehref="~/@Model.CategorySlug"
                                          asp-all-route-data="@Model.CurrentSearchOption.ToDictionary()"></cs-pager>
                            </div>
                        </div>
                    </div>
                    <!-- End Products -->

                    <hr class="g-mb-60">

                    <!-- Pagination -->
                    @*<nav class="g-mb-100" aria-label="Page Navigation">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item hidden-down">
                                <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5" href="#">1</a>
                            </li>
                            <li class="list-inline-item hidden-down">
                                <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">2</a>
                            </li>
                            <li class="list-inline-item g-hidden-xs-down">
                                <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">3</a>
                            </li>
                            <li class="list-inline-item hidden-down">
                                <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded-circle g-pa-5">...</span>
                            </li>
                            <li class="list-inline-item g-hidden-xs-down">
                                <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">15</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15" href="#" aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="list-inline-item float-right">
                                <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of 15</span>
                            </li>
                        </ul>
                    </nav>*@
                    <!-- End Pagination -->
                </div>
            </div>
            <!-- End Content -->
            <!-- Filters -->
            <div class="col-md-3 order-md-1 g-brd-right--lg g-brd-gray-light-v4 g-pt-40">
                <form id="productFilter" name="productFilter" method="GET" action="~/@Model.CategorySlug">
                    <div class="g-pr-15--lg g-pt-60">
                            <!-- Categories -->
                            <div class="g-mb-30">
                                <h3 class="h5 mb-3">Danh Mục</h3>
                                <div id="collapse-category" class="collapse show" aria-labelledby="cardHeaderCategory" data-parent="#accordion-category">
                                    <ul class="list-unstyled">
                                        @foreach (var category in Model.FilterOption.Categories.Where(x => x.ParentId == Model.CategoryId))
                                        {
                                            <li class="my-3">
                                                <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-pl-30">
                                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" value="@category.Slug" checked="@Model.CurrentSearchOption.GetCategories().Contains(category.Slug)">
                                                    <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                                        <i class="fa" data-check-icon="&#xf00c"></i>
                                                    </span>
                                                    @category.Name
                                                    <span class="float-right g-font-size-13">@category.Count</span>
                                                </label>
                                                @{ var children = Model.FilterOption.Categories.Where(x => x.ParentId == category.Id); }
                                                @if (children.Any())
                                                {
                                                    <ul class="list-unstyled checkbox-list">
                                                        @foreach (var child in children)
                                                        {
                                                            <li class="my-3">
                                                                <a class="d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="@Model.CurrentSearchOption.GetCategories().Contains(child.Slug)">
                                                                    @child.Name
                                                                    <span class="float-right g-font-size-12">@child.Count</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- End Categories -->

                            <hr>

                            <!-- Pricing -->
                            @if (Model.FilterOption.Price.MaxPrice != Model.FilterOption.Price.MinPrice)
                            {
                                <div class="g-mb-30">
                                    <h3 class="h5 mb-3">Giá</h3>
                                    <div id="collapse-price" class="collapse show" aria-labelledby="cardHeaderPrice" data-parent="#accordion-price">
                                        <div class="text-center">
                                            <div id="rangeSlider1"></div>
                                            <div>
                                                <input type="hidden" id="originMinPrice" value="@Model.FilterOption.Price.MinPrice.ToString("F0")" />
                                                <input type="hidden" id="originMaxPrice" value="@Model.FilterOption.Price.MaxPrice.ToString("F0")" />
                                                <span id="minPrice"></span>
                                                <span id="maxPrice"></span>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- End Pricing -->

                            <hr>

                            <!-- Rating -->
                            @*<div class="g-mb-30">
                                <h3 class="h5 mb-3">Đánh giá</h3>

                                <ul class="js-rating u-rating-v1 g-line-height-1 g-font-size-20 g-color-gray-light-v3 mb-0" data-hover-classes="g-color-primary">
                                    <li class="g-color-primary click">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="g-color-primary click">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="g-color-primary click">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li class="g-color-primary click">
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>*@
                            <!-- End Rating -->

                            @*<hr>

                            <button class="btn btn-block u-btn-black g-font-size-12 text-uppercase g-py-12 g-px-25" type="button">Đặt lại</button>*@
                        </div>
                </form>
            </div>
            <!-- End Filters -->
        </div>
    </div>
    <!-- End Products -->

    <a class="js-go-to u-go-to-v2" href="#"
       data-type="fixed"
       data-position='{
           "bottom": 15,
           "right": 15
         }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>


@section scripts {

    <script simpl-append-version="true" src="~/lib/wnumb/wNumb.js"></script>
    <script simpl-append-version="true" src="~/lib/nouislider/distribute/nouislider.min.js"></script>

    <script>
        var productFilter = {};
        productFilter.currentSearchOption = @Html.Raw(Model.CurrentSearchOption.ToJson());
        productFilter.priceSetting = {
            min: @Model.FilterOption.Price.MinPrice.ToString("F0"),
            max: @Model.FilterOption.Price.MaxPrice.ToString("F0"),
            currentMin: @((Model.CurrentSearchOption.MinPrice ?? Model.FilterOption.Price.MinPrice).ToString("F0")),
            currentMax: @((Model.CurrentSearchOption.MaxPrice ?? Model.FilterOption.Price.MaxPrice).ToString("F0")),
        };

    </script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.Catalog/product-filter.js"></script>
}
