@model SimplCommerce.Module.Orders.Areas.Orders.ViewModels.DeliveryInformationVm

@{ ViewBag.Title = "Thông tin giao hàng"; }


<div class="container g-pt-100 g-pb-70">
    <div class="row g-mt-55" style="width: 100%">
                <div class="col-md-8 g-mb-30">
                    <form asp-area="Orders" asp-controller="Checkout" asp-action="Shipping" method="POST" id="checkout-delivery-address">
                        <h3>Địa chỉ giao hàng</h3>
                        @foreach (var address in Model.ExistingShippingAddresses)
                        {
                            <div class="radio">
                                <label class="d-block g-color-gray-dark-v2 g-font-size-13">
                                    <input type="radio" name="ShippingAddressId" value="@address.UserAddressId" checked="@(Model.ShippingAddressId == address.UserAddressId ? "checked" : null)">
                                    <strong>@address.ContactName </strong><br />
                                    @address.AddressLine1 <br />
                                    @address.AddressLine2 <br />
                                    Phone: @address.Phone
                                </label>
                            </div>  
                         }
                        <div class="radio">
                            <label>
                                <input type="radio" name="ShippingAddressId" checked="@(Model.ShippingAddressId == 0 ? "checked" : null)" value="0" />
                                Thêm địa chỉ khác
                            </label>
                        </div>
                        <div class="create-shipping-address collapse">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Contact name"]</label>
                                <div class="col-sm-8">
                                    <input asp-for="NewAddressForm.ContactName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Country"]</label>
                                <div class="col-sm-8">
                                    <select asp-for="NewAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control">
                                        <option value="">@Localizer["Choose one"]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["State or Province"]</label>
                                <div class="col-sm-8">
                                    <select asp-for="NewAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                                        <option value="">@Localizer["Choose one"]</option>
                                    </select>
                                </div>
                            </div>

                            <div id="form-group-district" class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["District"]</label>
                                <div class="col-sm-8">
                                    <select asp-for="NewAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div id="form-group-city" class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["City"]</label>
                                <div class="col-sm-8">
                                    <input asp-for="NewAddressForm.City" type="text" class="form-control">
                                </div>
                            </div>

                            <div id="form-group-postalcode" class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Postal Code"]</label>
                                <div class="col-sm-8">
                                    <input asp-for="NewAddressForm.ZipCode" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Address"]</label>
                                <div class="col-sm-8">
                                    <input asp-for="NewAddressForm.AddressLine1" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Phone"]</label>
                                <div class="col-sm-8">
                                    <input asp-for="NewAddressForm.Phone" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <h3>@Localizer["Shipping methods"]</h3>
                        <div id="shippingMethods">
                            <p>Please choose your shipping address</p>
                        </div>

                        <div>
                            <h3>Địa Chỉ Thanh Toán</h3>
                            <label>
                                <input type="checkbox" name="UseShippingAddressAsBillingAddress" checked="@(Model.UseShippingAddressAsBillingAddress ? "checked" : null)" value="true" />
                                Thanh Toán Theo Địa Chỉ Giao Hàng
                            </label>
                        </div>
                        <div class="change-billing-address collapse">
                            @foreach (var address in Model.ExistingShippingAddresses)
                            {
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="BillingAddressId" value="@address.UserAddressId" checked="@(Model.BillingAddressId == address.UserAddressId ? "checked" : null)">
                                        <strong>@address.ContactName </strong><br />
                                        @address.AddressLine1 <br />
                                        @address.AddressLine2 <br />
                                        Phone: @address.Phone
                                    </label>
                                </div>
                            }
                            <div class="radio">
                                <label>
                                    <input type="radio" name="BillingAddressId" checked="@(Model.BillingAddressId == 0 ? "checked" : null)" value="0" />
                                    Thêm địa chỉ thanh toán
                                </label>
                            </div>
                            <div class="create-billing-address collapse">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Contact name"]</label>
                                    <div class="col-sm-8">
                                        <input asp-for="NewBillingAddressForm.ContactName" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Country"]</label>
                                    <div class="col-sm-8">
                                        <select asp-for="NewBillingAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control">
                                            <option value="">@Localizer["Choose one"]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["State or Province"]</label>
                                    <div class="col-sm-8">
                                        <select asp-for="NewBillingAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                                            <option value="">@Localizer["Choose one"]</option>
                                        </select>
                                    </div>
                                </div>

                                <div id="form-group-district" class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["District"]</label>
                                    <div class="col-sm-8">
                                        <select asp-for="NewBillingAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div id="form-group-city" class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["City"]</label>
                                    <div class="col-sm-8">
                                        <input asp-for="NewBillingAddressForm.City" type="text" class="form-control">
                                    </div>
                                </div>

                                <div id="form-group-postalcode" class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Postal Code"]</label>
                                    <div class="col-sm-8">
                                        <input asp-for="NewBillingAddressForm.ZipCode" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Address"]</label>
                                    <div class="col-sm-8">
                                        <input asp-for="NewBillingAddressForm.AddressLine1" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label d-block g-color-gray-dark-v2 g-font-size-13">@Localizer["Phone"]</label>
                                    <div class="col-sm-8">
                                        <input asp-for="NewBillingAddressForm.Phone" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-right">
                                <button type="submit" class="btn btn-order u-btn-primary g-font-size-13 text-uppercase" disabled>@Localizer["Payment"]</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-right">
                        <form asp-area="Order" asp-controller="Checkout" asp-action="Cancel" method="post" id="logoutForm" class="">
                            <button type="submit" class="btn btn-secondary active u-btn-outline-black g-brd-gray-light-v1 g-bg-black--hover g-font-size-13 text-uppercase">@Localizer["Cancel Order"]</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 g-mb-30">
                    @await Component.InvokeAsync("OrderSummary")
                </div>
    </div>
</div>
            @section scripts {
                <partial name="_ValidationScriptsPartial" />
                <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.Orders/checkout.js"></script>
            }
